# Copyright (c) 2024 Silicon Laboratories Inc.
# SPDX-License-Identifier: Apache-2.0

config BT_SIWX917
	bool "Silabs SiWx917 Bluetooth interface"
	default y
	depends on DT_HAS_SILABS_BT_HCI_SIWX917_ENABLED
	select WISECONNECT_NETWORK_STACK
	select ENTROPY_GENERATOR
	help
	  Use Silicon Labs Wiseconnect 3.x Bluetooth library to connect to the controller.

# SiWx917 BLE controller currently does not support HCI Command: Host Number of Completed Packets
configdefault BT_HCI_ACL_FLOW_CONTROL
	default n if BT_SIWX917
