/*
 * Copyright (c) 2023 Antmicro
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <silabs/siwg917m111mgtba.dtsi>

/ {
	model = "Silicon Labs BRD4338A (SiWG917 Radio Board)";
	compatible = "silabs,x917_rb4338a", "silabs,siwg917";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &ulpuart0;
	};
};

&ulpuart0 {
	status = "okay";
	pinctrl-0 = <&ulpuart_rx_default &ulpuart_tx_default>;
	pinctrl-names = "default";
};

&pinctrl0 {
	ulpuart_rx_default: ulpuart_rx_default {
		pinmux = <1 0 9 3 0>;
	};
	ulpuart_tx_default: ulpuart_tx_default {
		pinmux = <1 0 11 3 0>;
	};
};
