# Copyright (c) 2025 Silicon Laboratories Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_SILABS_SIWX91X

config SILABS_WISECONNECT_PSA_CRYPTO
	bool "TF-PSA-Crypto driver with hardware acceleration"
	depends on MBEDTLS_PSA_CRYPTO_C
	select SILABS_SIWX91X_NWP
	help
	  Set if the driver dispatch implementation with support for hardware
	  accelerated crypto operations is used.

endif
