# Copyright (c) 2025 Silicon Laboratories Inc.
# SPDX-License-Identifier: Apache-2.0

config WATCHDOG_SILABS_SIWX917
	bool "Silabs SiWx917 Watchdog driver"
	default y
	depends on DT_HAS_SILABS_SIWX917_WATCHDOG_ENABLED
	help
	  Enable the Watchdog driver for the Silabs SiWx917 SoC series.
