# Copyright (c) 2025 Silicon Laboratories Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_SILABS_S2
if MBEDTLS

config PSA_CRYPTO_SW_ONLY
	bool "PSA Crypto software implementation only"

config PSA_CRYPTO_DRIVER_SILABS_HSE
	bool "PSA Crypto Driver for Secure Engine"
	depends on $(dt_has_compat,$(DT_COMPAT_SILABS_GECKO_SEMAILBOX))
	default y if !PSA_CRYPTO_SW_ONLY

config PSA_CRYPTO_DRIVER_SILABS_VSE
	bool "PSA Crypto Driver for Virtual Secure Engine"
	depends on $(dt_has_compat,$(DT_COMPAT_SILABS_GECKO_TRNG))
	# default y if !PSA_CRYPTO_SW_ONLY

config MBEDTLS_USER_CONFIG_ENABLE
	default y if (PSA_CRYPTO_DRIVER_SILABS_HSE || PSA_CRYPTO_DRIVER_SILABS_VSE)

config MBEDTLS_USER_CONFIG_FILE
	default "sl_mbedtls_config_zephyr.h" \
		if (PSA_CRYPTO_DRIVER_SILABS_HSE || PSA_CRYPTO_DRIVER_SILABS_VSE)

config MBEDTLS_PSA_CRYPTO_BUILTIN_KEYS
	bool "Built-in key support in PSA Crypto core"
	help
	  Enable support for platform built-in keys in PSA Crypto. Built-in keys
	  are typically derived from a hardware unique key or stored in a secure
	  element. Mbed TLS uses key IDs from MBEDTLS_PSA_KEY_ID_BUILTIN_MIN to
	  MBEDTLS_PSA_KEY_ID_BUILTIN_MAX for built-in keys. The platform must
	  implement mbedtls_psa_platform_get_builtin_key().

endif

if SECURE_STORAGE

config SECURE_STORAGE_ITS_TRANSFORM_AEAD_KEY_PROVIDER_SILABS
	bool "Secure Storage ITS transform AEAD key provider using Silicon Labs SE builtin key"
	default y
	depends on $(dt_has_compat,$(DT_COMPAT_SILABS_GECKO_SEMAILBOX))
	select MBEDTLS_PSA_CRYPTO_BUILTIN_KEYS
	select PSA_WANT_KEY_TYPE_AES
	select PSA_WANT_ALG_CMAC
	imply HWINFO

endif

endif
